html, body{
	width: 100%;
	height: 100%;
}

*{
	box-sizing: border-box;
}

#main-wr{
	width: 940px;
	margin: 0 auto;

}

#main-wrap{
	width: 940px;
	
	
}

.navbar__main {
	min-height: 50px;
	max-height: 50px;
	background-color: #5592bd;

	color: #f2f2f2;
	position: relative;
	min-width: 50px;
	margin-bottom: 2px;
	border-radius: 0;
}
.navbar__main .navbar-nav li a {
	color: #fff;
}

.navbar__main_second{
	
	min-height: 50px;
	max-height: 50px;
	background-color: #e7e7e7;
	color: #f2f2f2;
	position: relative;
	min-width: 50px;
	margin-bottom: 20px;
	border-radius: 0;

}
.navbar__main .navbar-nav .dropdown-menu  li a {
	color: #286090;
	transition: width .2s ease-in-out;
}
.navbar__main .navbar-nav > li > a:hover, .navbar__main .navbar-nav > li > a:focus {
	background-color: #66adde;
}


.dropdown_right ul {
	right: 0;
	float: right;
	left: auto;
	transition: width 2s ease-in-out;
}

#bottom-nav-bar{
	
}

#logo{
	position: relative;
	top: 30px;
	float:left;
	padding: 2px 40px 60px 15px;
	
}
#basketButton{
	position: relative;
	float: right;
	top: 20px;
	padding: 30px 0 0 20px;
	vertical-align: middle;
	
}

.basketLogo {
	display: inline-block;
	vertical-align: middle;
	float:right;
}

.basketLogo a{
   display: inline-block;
   background-color: #f3f3fb;
   border: 1px solid #d4d4dc;
   border-radius: 5px;
   vertical-align: middle;
   padding: 15px 20px;
}
.basketLogo span{
	
}

.imgLogo{
	display: inline-block;
	width:50px;
	height:50px;
	
}
.basket_link{
	text-align: right;
	display: inline-block;
	font-size: 16px;
	color: #2f4554;
	
}

.authorBttn{
	display: inline-block;
	float:right;
	min-width: 200px;
	margin: 0 10px 20px 20px;

}

.authorBttn .btn-main:hover{
	background-color: #d9616f;
	color: #fff;
}

#search{
	margin-top: 30px;
	padding: 15px 30px;
	background-color: #0e5e99;
	opacity: 0.81;
	box-shadow: 0 2px 2px rgba(0,0,0,.6);
}
#search-line{
	margin-left: 25px;
}
.btn-main{
	padding: 8px;
}
.navbar__alphabet{
	margin-top: 20px;
	border-radius: 0;

}
.navbar__alphabet .navbar_alphabet-item {
	border: 1px solid #e7e7e7;
	padding: 4px 10px;
	border-radius: 5px;
	margin-top: 9px;
}

.navbar__alphabet .navbar-nav .navbar_alphabet-item:hover{
	background-color: #55a6d5;
	color: #fff;
}

.catalog_button  {
	padding-left: 0;
	padding-right: 0;
	margin-top: 30px;
	border-radius: 0;
	box-shadow: 0 2px 2px rgba(0,0,0,.6);
	
}
.catalog_button .btn-catalog{
	
	background-color: #cc2c3e;
	border-radius: 0;
	border: none;
}
.catalog_button .btn-catalog:hover{
	background-color: #c50b1f;

}
.catalog_list{
	display: block;
}
.catalog_alphabet{
	margin-top: 25px;
}
.catalog_alphabet-item{
	padding:5px 5px; 
	text-align: center;
}
.catalog_one{
	
}
.catalog_two{

}
.alphaButt{

	
	top:40px;
	border:1px solid #ccc;
	background-color: #fff;
	border-radius: 5px;


}
.catalog_one_alphabet_list{
	width: 100%;
}
.catalog_two_alphabet_list{
	width: 100%;
}
.jumbotron-main{
	padding: 15px 30px;
	background-color: #f6f6f6;
}
.jumbo_header{
	text-align: center;
	margin-top: 20px;
}

.product-list{
	
	padding: 15px 15px;
	margin-bottom: 20px;

}


.product-item{
	border: 1px solid #eee;
	padding: 30px 15px;
}

.product-item:after{
	content: '';
	clear: both;
	display: table;
}

.product-item_photo{
	width: 100%;
}
.product-item_title{
	font-size:18px;
	
}
.product-item_annotation{
	margin-top: 15px;
}

.btn-main_product{
	margin: 35px 5px 15px 0;
}
.btn-price{
	font-weight: bold;
	color: #035ba7;
	border-radius: 0;
}

.subscription-page{
	margin-top: 40px;
	
	padding: 20px 35px;
}
.subscription-page_header{
	border:1px solid #eee;
	padding: 15px ;
	text-align: center;
	font-size: 19px;
	margin: 15px 10px; 
}

.subscription-page_info{
	margin: 30px 40px;

}

.subscription-page_image-wr{
	
}
.subscription-page_image{
	width: 100%;
	height: 100%;
}

.subscription-page_anotherVers{
	margin: 10px 5px 15px 0;
	
}
.clear{
	clear: both;
}


.subscription-page_publish{
	margin: 35px 0;

}
.subscription-page_annotation{
	margin: 0 10px;
	font-size: 16px;
	line-height: 1.6;
}
.subscription-page_others{
	
}
.index-number{
	
	padding: 5px;
	background-color: #d6e0f1;
}
.period-number{
	
	padding: 5px;
	background-color: #dedfe2;
}
.subscription-page_products{
	margin: 20px;
}
.subscription-page_warning{
	color:#989696;
	display: block;
	margin: 25px 15px;
	padding: 10px 15px;
}
.subscription-page_delivery{
	
	padding: 10px 60px;
	font-size: 16px;
	line-height: 1.9;
}

.subscription-page_order{
	margin: 20px 10px; 
}
.subscription-page_order{
	border: 1px solid #ccc;
}
.subscription-page_order-header{
	
	background-color: #0e5e99;
	opacity: 0.9;
	color: #fff;
	font-size: 19px;
	padding: 8px;
	
	text-align: center;

	
}
.subscription-page_subscribe-period{
	margin: 20px;
	font-size: 15px;
	text-align: center;
}

.subscription-page_subscribe-period_year{
	color: #0e5e99;
	font-weight: bold;
	font-size: 19px;
	display: block;
	
    padding: 12px;
    margin: 20px 30px;
}
.subscription-page-btn{
	/*border: 2px solid #a6b8e6;*/
	border-radius: 20px;
	padding:5px;
	margin-top: 23px;
}

.subscription-page_btn__group{

}

.btn_text{
	padding: 0 10.4px;
}

.btn_text:first-child{
	padding: 0 10.4px 0 13px;
}

.btn_text:last-child{
	padding: 0 13px 0 10.4px;
}
.subscription-page_total-sum{
	font-size: 19px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin: 20px;
	padding: 7px 10px;
	text-align: center;

}
.subscription-page_total-month, .subscription-page_total-year{
	border: 1px solid #ccc;
	border-radius: 1px;
	margin:15px 0;
	text-align: center;
	background-color: #dfdfdf;
}
.subscription-page_total-month:hover, .subscription-page_total-year:hover{
	border: 1px solid #79bff2;
}

.btn-subscribe{
	margin-top: 40px;
	background-color: #f1f1f1;
	color:#000;
	font-size: 20px;
	border-top: 1px solid #c7c7c7;
	
}
.total-year-sum{

}
.subscription-page_alsoWathed-header, .subscription-page_recently-header{
	margin: 70px 25px;
	padding: 5px 10px;
	
	text-align: center;
	font-size: 18px;
	border:1px solid #e2e2e2;

}
.subscription-page_alsoWathed-header{
	background-color: #cc2c3e;
	color: #fff;
}
.subscription-page_recently-header{
	background-color: #cc2c3e;
	color: #fff;
}
.subscription-page_alsoWathed-wr, .subscription-page_recently-wr{
	margin-left: 30px;
	display: flex;
	justify-content: space-around;

}
